@font-face {
  font-family: "Helvetica Neue";
  src: url(./fonts/HelveticaNeue-UltraLight.otf) format('opentype');
  font-weight: 600;
  font-style: 'normal';
}

@font-face {
  font-family: "Helvetica Neue Roman";
  src: url(./fonts/HelveticaNeue-Roman.otf) format('opentype');
}

body {
  background-color: black;
  color: white;
  margin-left: auto!important;
  margin-right: auto!important;
  width: 90%;
}

#timer {
  height: 200px;
  line-height: 200px;
  font-size: 88px;
  font-family: "Helvetica Neue";
  text-align: center;
}

#actionButtons {
  display: flex;
  justify-content: space-between;
}

#actionButtons button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  color: white;
  border-style: none;
  outline: none;
}

#toggleButton.started {
  background-color: darkred;
  color: red;
}

#toggleButton.stopped {
  background-color: #336600;
  color: lightgreen;
}

#lapResetButton {
  background-color: grey;
}

#lapResetButton:disabled {
  background-color: #404040;
}

#lapTableDiv {
  font-family: "Helvetica Neue Roman";
  margin-top: 24px;
  max-height: 320px;
  overflow: auto;
}

#lapTable {
  border-collapse: collapse;
  width: 100%;
}

#lapTable tr {
  height: 32px;
}

#lapTable td {
  border-style: solid;
  border-color: #202020;
  border-width: 1px 0px;
}

#lapTable td:nth-child(odd) {
  text-align: start;
}

#lapTable td:nth-child(even) {
  text-align: end;
}

#lapTable td:nth-child(even).scrollVisible {
  padding-right: 10px;
}

.bestTime {
  color: green;
}

.worstTime {
  color: red;
}